/* #navbar */

/* Adjust the navbar links to the right and make dropdown align to the right */
.navbar-nav {
    margin-left: auto;
}

/* Make text links bolder and darker for better visibility */
.nav-item {
    font-weight: bold; /* Makes the text bolder */
    color: #030303 !important; /* Ensures the color is darker; adjust the hex code to fit your design */
}

/* Ensures the dropdown menu is aligned to the right */
.dropdown-menu {
    right: 0;
    left: auto;
}

/* Make text links bolder and darker for better visibility */
.nav-link {
    font-weight: bold; /* Makes the text bolder */
    color: #030303 !important; /* Ensures the color is darker; adjust the hex code to fit your design */
}


/* #*********************************************************************************************************************# */