
#app-container {
    display: flex;
    padding: 20px;
    gap: 20px;
    border: 2px solid #333;
    border-radius: 10px;
    background-color: grey;
    height: fit-content;
    width: fit-content;
}

#palette-container, #grid-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    
}

#palette {
    display: grid;
    grid-template-columns: repeat(3, 40px); /* 3 colors per row */
    gap: 10px;
    padding: 10px;

    height: 100%;
    
} 

.color {
    width: 40px;
    height: 40px;
    cursor: pointer;
    border: 2px solid #000; /* Add a border around each color */
}

#grid {
    display: grid;
    grid-template-columns: repeat(10, 40px); 
    gap: 5px;
    margin-top: 20px;
    border: 2px solid #666;
    border-radius: 10px;
    width: 100%;
    
} 

.cell { 
    width: 40px;
    height: 40px;
    border: 1px solid #000;
    cursor: pointer; 
    background-color: white;
    
 } 


#clear-button {
    width: 100%;
    border-radius: 5px;
    margin-bottom: 10px;
    margin-top: 20px;
    padding-bottom: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    padding: 0;
    
}








