body {
    font-family: Arial, sans-serif;
    background-color: #ff4d4d; /* Same as the image */
  }

  #header {
    text-align: center; /* Centers the text of the heading */
  }
  
  h2 {
    color: white; /* Sets the text color of the heading to white */
    margin: 0; /* Removes default margin */
    padding: 20px 0; /* Adds some vertical padding for spacing */
  }
  
  .container {
    width: 300px;
    margin: auto;
    background-color: white;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 50px;
  }
  
  #taskForm {
    margin-bottom: 20px;
    
  }
  
  .listTasks {
    list-style: none;
    padding: 0;
  }
  
  .listTasks div {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
  }
  
  .listTasks div.completed {
    text-decoration: line-through;
    color: red;
  }
  
  .fa-times {
    cursor: pointer;
    margin-right: 10px;
  }
  
  input[type="checkbox"]:checked + label {
    text-decoration: line-through;
    color: red;
  }
  
  input[type="text"] {
    margin-right: 10px;
  }


  #clearTasks {
    color: #ff4d4d; 
    border: none; /* Removes the border of the button */
    background: none; /* Removes the default background, if desired */
    cursor: pointer;
    padding: 5px 10px; /* Adjust padding as needed */
    display: inline-block; /* To apply padding and centering */
    margin-top: 10px;
  }
  

  #taskForm button {
    color: blue; /* Sets the text color of the button to blue */
    border: none; /* Removes the border of the button */
    background: none; /* Optional: Removes the default background */
    cursor: pointer;
    padding: 5px 10px; /* Adjust padding as needed */
  }


  