nav {
  background-color: white;
  position: relative;
}



.left button {
  background-color: white;
  text-align: center;
  border: none;
  float: left;
  padding: 5px;
  margin-left: 150px;
    
}

.right button {
background-color: rgb(10, 184, 253);
text-align: center;
border-radius: 5px;
border: none;
color: white;
float: right;
padding: 5px;
padding-top: 5px;
padding-bottom: 5px;
margin-right: 150px;
margin-bottom: 5px;
}


 img {
width: 90%;
max-height: 400px;
margin: 0;
height: auto;
margin-left: 71px;

}

container {
position: relative;
text-align: center;
}

.content {
  position: absolute;
  top: 50%; 
  left: 50%; 
  transform: translate(-50%, -50%); 
  color: white; 
  
}

.text {
  font-size: 30px;
  text-align: center;
  padding-bottom: 120px;
  font-family: sans-serif;
  padding-top: 155px;
}

.sign {
  position: relative;
  padding-bottom: 150px;
  text-align: center;
  
}

.email button {
  border-radius: 5px;
  border: none;
  background-color: rgb(10, 184, 253);
  color: white;
  text-align: center;
  margin-left: 55%;
  
  
}

footer {
  display: flex;
  justify-content: center; 
  align-items: center; 
  text-align: center; 
  padding: 20px;
    
}

.logo {
margin: 0 10px;
}

.text2 {
  color: rgb(129, 127, 127);
 
}




