.container-fluid {
    background-color: white;
    font-family: fantasy;
    font-size: larger;
    
}


a:link {
    color: black;
    text-decoration: none;
}

a:visited {
    color: black; 
  }
  

a:hover {
   font-size: xx-large;
}

.home {
    padding-left: 50px;
}

.about-me {
    padding-right: 50px;
}

.beavis {
    margin-left: 125px;
}

.pics-1 {
    margin-top: 350px;
    margin-left: 100px;
}












