body {
  background-color: red; 
  color: white; 
}

.list-group-item {
  background-color: transparent; 
}

.list-group-item-success {
  text-decoration-color: blue; 
}

button {
  color: white; 
  background-color: black; 
  
}

button:hover {
  opacity: 0.8; 
}


