.container-fluid {
    background-color: white;
    font-family: fantasy;
    font-size: larger; 
}

a:link {
    color: black;
    text-decoration: none;
    transition: font-size 0.7s;
}

a:visited {
    color: black; 
  }
  

a:hover {
   font-size: xx-large;
}

.home {
    padding-left: 50px;
}

.about-me {
    padding-right: 50px;
}

.text {
    text-align: center;
}

.container {
    position: relative; /* Set position to relative */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.top-images {
    display: flex;
    justify-content: space-between;
    position: relative; /* Set position to relative */
}

.top-images > div {
    margin: 0 400px; /* Add horizontal margin to each top image container */
}

.bottom-images {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 850px; /* Adjust this value as needed */
    position: absolute; /* Set position to absolute */
    top: 100%; /* Place the bottom images 50% from the top */
    transform: translateY(-50%); /* Adjust for vertical centering */
}

.bottom-images div {
    margin: 0 50px;
}





